@font-face {
    font-family: 'Integral CF Bold';
    src: url('../../styles/Fonts/IntegralCF-Bold.ttf');
}

@font-face {
    font-family: 'Satoshi-Light';
    src: url('../../styles/Fonts/Satoshi-Light.ttf');
}

@font-face {
    font-family: 'Satoshi-LightItalic';
    src: url('../../styles/Fonts/Satoshi-LightItalic.ttf');
}

@font-face {
    font-family: 'Satoshi-Regular';
    src: url('../../styles/Fonts/Satoshi-Regular.ttf');
}

@font-face {
    font-family: 'Satoshi-Italic';
    src: url('../../styles/Fonts/Satoshi-Italic.ttf');
}

@font-face {
    font-family: 'Satoshi-Medium';
    src: url('../../styles/Fonts/Satoshi-Medium.ttf');
}

@font-face {
    font-family: 'Satoshi-MediumItalic';
    src: url('../../styles/Fonts/Satoshi-MediumItalic.ttf');
}

@font-face {
    font-family: 'Satoshi-Bold';
    src: url('../../styles/Fonts/Satoshi-Bold.ttf');
}

@font-face {
    font-family: 'Satoshi-BoldItalic';
    src: url('../../styles/Fonts/Satoshi-BoldItalic.ttf');
}

@font-face {
    font-family: 'Satoshi-Black';
    src: url('../../styles/Fonts/Satoshi-Black.ttf');
}

@font-face {
    font-family: 'Satoshi-BlackItalic';
    src: url('../../styles/Fonts/Satoshi-BlackItalic.ttf');
}

@font-face {
    font-family: 'Satoshi-Variable';
    src: url('../../styles/Fonts/Satoshi-Variable.ttf');
}

@font-face {
    font-family: 'Satoshi-VariableItalic';
    src: url('../../styles/Fonts/Satoshi-VariableItalic.ttf');
}